/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 2em;
  padding-bottom: 2em;
}

// Margins
.top{ margin-top: 5%;}
.bottom { margin-bottom: 5%;}

span.green{ color:#94DB46;}

// Backgrounds
.bg-green {
  background: #94DB46;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Elements

.seperator {
    width: 100%;
    height: 2px;
    margin: 30px 0;
    background-image: radial-gradient(#e6e6e6, #FFF), radial-gradient(#e6e6e6, #FFF);
    background-position: 0, 100%, 0, 100%;
  }

#map{

}

video {
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

