.card {
  height: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  background-size: cover !important;
  color: #333333;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

.card a {
    color: #94DB46;
    font-weight: bold;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 22px;
    line-height: 1.4;
    background-color: white;
    border: none !important;
    border-radius: 2px;
    -webkit-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.thumbnail img{ max-width: 250px;}

